#endereco {
  background: white; }

#nav {
  color: aliceblue; }

#img {
  width: 600px; }

#endereco {
  background: #000000;
  color: white; }

#midia {
  float: left; }

#pole {
  width: 170px;
  align: "center"; }
