#endereco{
	
	background: white;
}

#nav{
	color: aliceblue;
}

#img{
	width: 600px;
}

#endereco{
	background: #000000;
	color: white;
}

#midia{
	float: left;
	
}

#pole{
	width: 170px;
	align: "center";
	
}




//body {
//    background-image: url(../midia/quadros.jpg);
//    background-repeat: no-repeat;
//    background-attachment: fixed;
//    /* e agora a regra de ouro que fará a imagem ocupar todo o viewport */
//    background-size: 100% 100%;
//}